/* Section: About */
#aboutSection {
  border: black 5px dashed;
  height: 70%;
}

#aboutAside {
  border: red 5px dotted;
  height: 100%;
}

#aboutHeading {
  position:fixed;
  left: 100px;
  top: 200px;
}

#aboutHeader {

}

#aboutProfileImage {
  width: 80%;
  height: 60%;
}

#aboutParagraphs p {
  width: 600px;
  font-size: larger;
  border-left: black 2px dotted;
}

@media only screen and (max-width: 600px) {
  #aboutSection {
    margin-bottom: 50px;
  }
}

@media only screen and (max-height: 600px) {
  #aboutSection {
    margin-bottom: 50px;
  }
}
