p {
  width: 100%;
  text-align: center;
  border: green 5px dashed;
}

#aboutSection {
  border: black 5px dashed;  
}

#aboutAside {
  border: red 5px dotted;
  height: 100%;
}

#aboutHeading {
  position:fixed;
  left: 100px;
  top: 200px;
}

#aboutHeader {

}

#aboutProfileImage {
  width: 80%;
  height: 60%;
}

#aboutParagraphs {
  border: darkblue 5px solid;
  height: 100%;
}

#aboutParagraphs p {
  font-size: 20px;
  border-left: black 2px dotted;
}

.sectionParagraphLinks {
  color: red;
}

.sectionParagraphLinks:hover{
  color: red;
  font-size: x-large;
  transition: 0.2s;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  #aboutSection {
    margin-bottom: 50px;
  }
}

@media only screen and (max-height: 600px) {
  #aboutSection {
    margin-bottom: 50px;
  }
}
