p {
  width: 100%;
  text-align: center;
  border: green 5px dashed;
}

#aboutSection {
  border: black 5px dashed;  
}

#aboutAside {
  border: red 5px dotted;
  height: 100%;
}

#aboutHeading {
  position:fixed;
  /* left: 100px; */
  top: 200px;
}

#aboutHeader {
  border: teal 3px dashed;
}

#aboutProfileImage {
  width: 80%;
  height: 60%;
  border: green 3px dashed;
  text-align: center;
}

#aboutParagraphsSection {
  border: darkblue 5px solid;
  height: 100%;
}

.aboutParagraphs {
  font-size: 20px;
  border-left: black 2px dotted;
}

#hello {
  font-size: 40px;
  transition-delay: 2s;
  transition: 0.5s;
  position:absolute;
  top:-70px;
}

.sectionParagraphLinks {
  color: red;
}

.sectionParagraphLinks:hover{
  color: red;
  font-size: x-large;
  transition: 0.2s;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  #aboutProfileImage {
    display: none;
  }
  #aboutHeading {
    position:relative;
    top: 0px;
  }
  #aboutParagraphs p {
    font-size: 20px;
    border-left: black 2px dotted;
    border-right: black 2px dotted;
  }
}