footer {
  position: relative;
  text-align: center;
  width: 100%;
  height: 50px;
  padding-bottom: 100px;
  bottom: 0px;
  margin-top: 20px;
}

footer a {
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  height: 50px;
  width: 100px;
}

footer a img {
  width: 75px;
  height: 75px;
}

/* Medium sized monitors */
@media only screen and (max-width: 1200px) {

}

/* Laptop screens */
@media only screen and (max-width: 992px) {

}

/* Phone/Mobile */
@media only screen and (max-width: 450px) {
  footer {
    margin-top: 0px;
  }
}