
/* Section: Portfolio and Projects */
.portfolioSection {

}

#projectSectionTitle {
  text-align: center;
}

#projectSection {

}

/* reveal and hide features */
/* .projectDiv img:hover + .hide {
  display:block;
} */

/* .hide {
  display: none;
} */
