.projectDiv {
  width: 400px;
  height: 300px;
  position: relative;
  transition: 0.5s;
  border: black 4px solid;
}

#backgroundImage {
  border: blue 4px dotted;
  width: 100%; 
  
}

#backgroundImage:hover {
  cursor: pointer;
}

.projectContent {

}

.projectProgramsUsed {

}

.projectDeployedAt {

}

.projectGithubLink {

}

@media only screen and (min-width: 2000px) {

}

@media only screen and (max-width: 1200px) {
  .projectDiv {

  }
  .projectContent {

  }
}

@media only screen and (max-width: 992px) {
  .projectDiv {

  }
  .projectContent {

  }
}