.projectDiv {
  width: 400px;
  height: 300px;
  position: relative;
  transition: 0.5s;
}

.projectDiv > img {
  /* width: 100%;
  height: 100%; */
  object-fit:fill;
  border: black dashed 2px;
  transition: 0.5s;
}

.projectDiv:hover > img {
  filter:grayscale(100);
  opacity: 0.5;
  transition: 0.5s;
}

.projectContent {
  position: absolute;
  border: solid black 4px;
  width: 95%;
  height: 300px;
}

.projectProgramsUsed {
  position: absolute;
  top: 10px;
  left: 125px;
  font-size: 30px;
  width: 50%;
  height: auto;
  padding: 10px;
  cursor:default;
  background-color: rgb(34, 103, 163);
  border: black 2px solid;
  color: white;
  font-style: italic;
}

.projectDeployedAt {
  position: absolute;
  bottom: 10px;
  right: 50px;
  font-size: 40px;
  width: auto;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 50px;
  color:black;
}

.projectDeployedAt:hover {
transition: 0.5s;
text-decoration: none;
filter:hue-rotate(90deg);
}

.projectGithubLink {
  position: absolute;
  top: 40px;
  right: 80px;
  padding: 5px;
  height: 100px;
  width: 150px;
}

.projectGithubLink > div > a > img {
  position: relative;
  left: -20px;
  top: -20px;
  height: 150px;
  width: 150px;
  border-radius: 50px;
}

.projectGithubLink:hover > div > a > img {
  transition: 0.5s;
  filter:invert(50);
  background-color: coral;
  border-radius: 20px;
}

@media only screen and (min-width: 2000px) {

}

@media only screen and (max-width: 1200px) {
  .projectDiv {
    height: auto;
  }
  .projectContent {
    width: 93%;
    height: 18px;
  }
}

@media only screen and (max-width: 992px) {
  .projectDiv {
    height: auto;
  }
  .projectContent {
    width: 9%;
  }
}