#projectInfo {
  width: 100%;
  transition: 0.5s;
  cursor: default;
}

/* Header */
#heading {
  width:100%;
}

#titleHeading {
  font-size: 100px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* Search Box - Exit button */
#exitButton {
  position: relative;
  left: 95%;
  bottom: 30%;
  font-size: 40px;
  background-color: transparent;
  border-radius: 10%;
  border-style: solid;
  border-color: rgb(243, 243, 243);
  outline: none;
  transition: 0.2s;
}

#exitButton:hover {
  transform: rotate(90deg);
  transition: 0.4s;
  border-color: transparent;
  border-radius: 80%;
  cursor: pointer;
}

#exitButton:active {
  transition: 0.1s;
  border-color: transparent;
  box-shadow: 0px 0px 10px red;
}

/* Header Content */
.aboutHeaderContent {
  width: 100%;
}

#createdUsing {
  font-size: 50px;
  font-weight: 500;
  position: relative;
  top: -10%;
  right: 40%;
  transition: 0.5s;
}

#createdUsingTextBox{
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  bottom: 35%;
}

/* Content */
#aboutContent {
  width: 100%;
  position: relative;
  bottom: 100px;
}

#aboutContentParagraph {
  font-size: 35px;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}

/* Footer */
#aboutFooter {
  width: 100%;
}

#projectDeployedAt {
  transition: 0.2s;
  font-size: 50px;
  color:black;
  border: black 2px solid;
  box-shadow: 0px 0px 40px 40px rgb(90, 219, 142);
  border-radius: 20%;
  padding: 1%;
}

#projectDeployedAt:hover {
  transition: 0.2s;
  box-shadow: 10px 5px 5px grey;
  border-radius: 50%;
  color:rgb(90, 219, 142);
  text-decoration: none;
}

#projectDeployedAt:active{
  transition: 1s;
  font-size: 50px;
  color:black;
  border: black 2px solid;
  box-shadow: 0px 0px 40px 40px rgb(90, 219, 142);
  border-radius: 20%;
  padding: 1%;
}

#projectNotDeployed {
  font-size: 50px;
  box-shadow: 10px 5px 5px red;
  border-radius: 50%;
  padding: 1%;
}

#projectNotDeployed:hover {
  box-shadow: none;
  transition: 0.3s;
}

#projectNotDeployed:active{
  transition: 1s;
  background-color: white;
  color: white;
  font-size: 50px;
}

#projectNotDeployed:hover + #projectGitHubLink {
  transition: 0.2s;
  box-shadow: 10px 5px 5px grey;
  border-radius: 50%;
  color:red;
  text-decoration: none;
}

#projectNotDeployed:active + #projectGitHubLink{
  transition: 1s;
  background-color: white;
  color: white;
  box-shadow: 0px 0px 40px 40px red;
  background-color: red;
  font-size: 50px;
}

#projectGitHubLink {
  transition: 0.2s;
  border-radius: 50%;
  padding:1%;
  background-color: black;
  color: white;
  box-shadow: -15px -20px 10px rgb(89, 168, 224);
  font-size: 50px;
}

#projectGitHubLink:hover {
  transition: 0.2s;
  box-shadow: 10px 5px 5px grey;
  border-radius: 50%;
  color:rgb(89, 168, 224);
  text-decoration: none;
}

#projectGitHubLink:active {
  transition: 1s;
  border-radius: 50%;
  padding:1%;
  background-color: black;
  color: white;
  box-shadow: -15px -20px 10px rgb(89, 168, 224);
  font-size: 50px;
}