.projectDiv {
  width: 400px;
  height: 300px;
  position: relative;
  transition: 0.5s;
}

#backgroundImage {
  width: 100%; 
  margin-left: auto;
  margin-right: auto;
}

#backgroundImage:hover {
  box-shadow: 0px 0px 40px 10px grey;
}

#backgroundImage:hover + .projectDiv {
  width: 100%; 
}

#backgroundImage:hover {
  cursor: pointer;
}

.projectContent {

}

.projectProgramsUsed {

}

.projectDeployedAt {

}

.projectGithubLink {

}

/* Medium sized monitors */
@media only screen and (max-width: 1200px) {

}

/* Laptop screens */
@media only screen and (max-width: 992px) {
  #backgroundImage {
    width: 70%; 
  }
}

/* Phone/Mobile */
@media only screen and (max-width: 450px) {
  .projectDiv {
    height: 175px;
  }

  #backgroundImage:hover {
    box-shadow: none;
  }

  #backgroundImage {
    width: 100%; 
  }
}