/* Section: Resume */
#resumeBlock {
  margin-bottom: 100px;
  margin-left:0px;
}

#resumeHeading {
  margin-bottom: 100px;
}

#resumeSubHeadingTalents {
  margin-bottom: 100px;
}

#resumeSubHeadingTalents h2 {
  border-radius: 100px;
  outline:none;
}

.resumeTalentOption {
  background-color: transparent;
  cursor: pointer;
  padding: 2%;
  border-radius: 5%;
  transition: 0.3s;
  position: relative;
  top: -10px;
}

.resumeTalentOption:hover {
  box-shadow: 0px 0px 50px 10px grey;
}

.resumeTalentOption:active {
  box-shadow: 0px 0px 50px 10px grey;
}

.resumeProficiencies {
  border: blue dotted 2px;
}

.resumeSkillsHeader {
  font-size: 40px;
}

.resumeSkillsList {
  list-style:none;
  padding: 0px;
  border: red 2px solid;
}

.resumeSkillsList {
  list-style:none;
  border: red 2px solid;
}

.resumeProficiences:hover {
  cursor: default;
}

.resumeProficiences:hover > h1 {
  cursor: default;
  font-size: 5px;
}

.resumeProficiences:hover > ul {
  cursor: default;
  font-size: 5px;
}

/* Medium sized monitors */
@media only screen and (max-width: 1200px) {

}

/* Laptop screens */
@media only screen and (max-width: 992px) {

}

/* Phone/Mobile */
@media only screen and (max-width: 450px) {

}