section {
  margin: 50px;
}

/* Contact: Section */
#contactSection {
	background: linear-gradient(-45deg, #1760111e, #ffffff40, #389ec45b, #23d53e2f);
  background-size: 200%;
	animation: gradient 15s ease infinite;
  border-radius: 10%;
  width: 60%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#contact-form {
  width: 90%;
}

#contactSubmitBtn {
  border: black 2px solid;
}

/* Section: Resume */
#resumeBlock {
  margin-bottom: 100px;
}

.resumeProficiences:hover {
  cursor: default;
}

.resumeProficiences:hover > h1 {
  cursor: default;
  font-size: 5px;
}

.resumeProficiences:hover > ul {
  cursor: default;
  font-size: 5px;
}


.resumeProficiences {
  margin-left: 100px;
}